
*.ide
.gitattributes
.vs/Decrowdify/v16/.suo
.vs/Decrowdify/v16/Server/sqlite3/db.lock
.vs/Decrowdify/v16/Server/sqlite3/storage.ide-shm
.vs/Decrowdify/v16/Server/sqlite3/storage.ide-wal
bin/Debug/CheapLoc.dll
bin/Debug/Dalamud.dll
bin/Debug/Dalamud.xml
bin/Debug/Discord.Net.Core.dll
bin/Debug/Discord.Net.Core.xml
bin/Debug/Discord.Net.Rest.dll
bin/Debug/Discord.Net.Rest.xml
bin/Debug/Discord.Net.WebSocket.dll
bin/Debug/Discord.Net.WebSocket.xml
bin/Debug/EasyHook.dll
bin/Debug/ImGui.NET.dll
bin/Debug/ImGuiScene.dll
bin/Debug/Lumina.dll
bin/Debug/Lumina.Generated.dll
bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/Newtonsoft.Json.dll
bin/Debug/OpenGL.Net.dll
bin/Debug/SDL2-CS.dll
bin/Debug/SDL2-CS.dll.config
bin/Debug/Serilog.dll
bin/Debug/Serilog.Sinks.Async.dll
bin/Debug/Serilog.Sinks.File.dll
bin/Debug/SharpDX.Desktop.dll
bin/Debug/SharpDX.Direct3D11.dll
bin/Debug/SharpDX.dll
bin/Debug/SharpDX.DXGI.dll
bin/Debug/SharpDX.Mathematics.dll
bin/Debug/SinglePlayerExperience.dll
bin/Debug/SinglePlayerExperience.pdb
bin/Debug/StbiSharp.dll
bin/Debug/System.Buffers.dll
bin/Debug/System.Collections.Immutable.dll
bin/Debug/System.Drawing.Common.dll
bin/Debug/System.Linq.Async.dll
bin/Debug/System.Memory.dll
bin/Debug/System.Numerics.Vectors.dll
bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
bin/Debug/System.Threading.Tasks.Extensions.dll
obj/Debug/Decrowdify.csproj.CopyComplete
obj/Debug/Decrowdify.csproj.FileListAbsolute.txt
obj/Debug/Decrowdify.csprojAssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/SinglePlayerExperience.csproj.CopyComplete
obj/Debug/SinglePlayerExperience.csproj.FileListAbsolute.txt
obj/Debug/SinglePlayerExperience.csprojAssemblyReference.cache
obj/Debug/SinglePlayerExperience.dll
obj/Debug/SinglePlayerExperience.pdb
